<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="global"
              label="COM_PELICULAS_CONFIG_GLOBAL_SETTINGS_LABEL"
              description="COM_PELICULAS_CONFIG_GLOBAL_SETTINGS_DESC"
              addfieldpath="/administrator/components/com_peliculas/models/fields">

        <field name="poster_thumb_min_width" type="text" size="3" default="100"
               label="COM_PELICULAS_FIELD_THUMB_MIN_WIDTH_LABEL"
               description="COM_PELICULAS_FIELD_THUMB_MIN_WIDTH_DESC" />
        <field name="poster_thumb_min_height" type="text" size="3" default="60"
               label="COM_PELICULAS_FIELD_THUMB_MIN_HEIGHT_LABEL"
               description="COM_JINMO_FIELD_THUMB_MIN_HEIGHT_DESC" />

        <field name="gallery_thumb_min_width" type="text" size="3" default="160" label="COM_PELICULAS_FIELD_GALLERY_THUMB_MIN_WIDTH_LABEL" description="COM_PELICULAS_FIELD_GALLERY_THUMB_MIN_WIDTH_DESC" />
        <field name="gallery_thumb_min_height" type="text" size="3" default="90" label="COM_PELICULAS_FIELD_GALLERY_THUMB_MIN_HEIGHT_LABEL" description="COM_PELICULAS_FIELD_GALLERY_THUMB_MIN_HEIGHT_DESC" />
        
        <field name="gallery_big_min_width" type="text" size="3" default="800" label="COM_PELICULAS_FIELD_GALLERY_BIG_MIN_WIDTH_LABEL" description="COM_PELICULAS_FIELD_GALLERY_BIG_MIN_WIDTH_DESC" />
        <field name="gallery_big_min_height" type="text" size="3" default="450" label="COM_PELICULAS_FIELD_GALLERY_BIG_MIN_HEIGHT_LABEL" description="COM_PELICULAS_FIELD_GALLERY_BIG_MIN_HEIGHT_DESC" />
        
    </fieldset>

    <fieldset name="themoviedb"
              label="COM_PELICULAS_CONFIG_THEMOVIEDB_SETTINGS_LABEL"
              description="COM_PELICULAS_CONFIG_THEMOVIEDB_SETTINGS_DESC"
              addfieldpath="/administrator/components/com_peliculas/models/fields">

        <field name="themoviedb_api_key" type="text" default=""
               label="COM_PELICULAS_FIELD_TMDB_APIKEY_LABEL"
               description="COM_PELICULAS_FIELD_TMDB_APIKEY_DESC" />

    </fieldset>

    <fieldset name="persons"
              label="COM_PELICULAS_CONFIG_PERSONS_SETTINGS_LABEL"
              description="COM_PELICULAS_CONFIG_PERSONS_SETTINGS_DESC"
              addfieldpath="/administrator/components/com_peliculas/models/fields">
        <field name="persons_thumb_min_width" type="text" size="3" default="100"
               label="COM_PELICULAS_FIELD_THUMB_MIN_WIDTH_LABEL"
               description="COM_PELICULAS_FIELD_THUMB_MIN_WIDTH_DESC" />
        <field name="persons_thumb_min_height" type="text" size="3" default="150"
               label="COM_PELICULAS_FIELD_THUMB_MIN_HEIGHT_LABEL"
               description="COM_JINMO_FIELD_THUMB_MIN_HEIGHT_DESC" />

    </fieldset>

    <fieldset name="companies"
              label="COM_PELICULAS_CONFIG_COMPANY_SETTINGS_LABEL"
              description="COM_PELICULAS_CONFIG_COMPANY_SETTINGS_DESC"
              addfieldpath="/administrator/components/com_peliculas/models/fields">
        <field name="company_thumb_min_width" type="text" size="3" default="100"
               label="COM_PELICULAS_FIELD_THUMB_MIN_WIDTH_LABEL"
               description="COM_PELICULAS_FIELD_THUMB_MIN_WIDTH_DESC" />
        <field name="company_thumb_min_height" type="text" size="3" default="150"
               label="COM_PELICULAS_FIELD_THUMB_MIN_HEIGHT_LABEL"
               description="COM_JINMO_FIELD_THUMB_MIN_HEIGHT_DESC" />

    </fieldset>

    <fieldset name="list"
              label="COM_PELICULAS_CONFIG_LIST_SETTINGS_LABEL"
              description="COM_PELICULAS_CONFIG_LIST_SETTINGS_DESC">

        <field name="show_list_name" type="list"
               label="COM_PELICULAS_LIST_FIELD_PARAMS_SHOWNAME_LABEL"
               description="COM_PELICULAS_LIST_FIELD_PARAMS_SHOWNAME_DESC"
               default="1"
        >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field
                name="show_filter_field"
                type="radio"
                class="btn-group btn-group-yesno"
                label="JGLOBAL_FILTER_FIELD_LABEL"
                description="JGLOBAL_FILTER_FIELD_DESC"
                default="1">
            <option value="1">JSHOW</option>
            <option value="0">JHIDE</option>
        </field>

        <field name="show_readmore" type="radio" class="btn-group btn-group-yesno"
               label="JGLOBAL_SHOW_READMORE_LABEL"
               description="JGLOBAL_SHOW_READMORE_DESC"
               default="1">
            <option value="1">JSHOW</option>
            <option value="0">JHIDE</option>
        </field>

        <field name="show_festreno" type="radio" class="btn-group btn-group-yesno"
               label="COM_PELICULAS_LIST_FIELD_PARAMS_SHOWNAME_LABEL"
               description="COM_PELICULAS_LIST_FIELD_PARAMS_SHOWNAME_DESC"
               default="1">
            <option value="1">JSHOW</option>
            <option value="0">JHIDE</option>
        </field>

        <field name="orderby_pri" type="list"
               label="COM_PELICULAS_LIST_FIELD_PARAMS_ORDER_LABEL"
               description="COM_PELICULAS_LIST_FIELD_PARAMS_ORDER_DESC"
               default="none">
            <option value="festreno">COM_PELICULAS_PARAMS_OLDEST_FESTRENO_FIRST</option>
            <option value="rfestreno">COM_PELICULAS_PARAMS_RECENT_FESTRENO_FIRST</option>
            <option value="date">JGLOBAL_OLDEST_FIRST</option>
            <option value="rdate">JGLOBAL_MOST_RECENT_FIRST</option>
            <option value="hits">JGLOBAL_MOST_HITS</option>
            <option value="rhits">JGLOBAL_LEAST_HITS</option>
            <option value="order">JGLOBAL_ARTICLE_MANAGER_ORDER</option>
        </field>
    </fieldset>

    <fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                class="inputbox"
                filter="rules"
                validate="rules"
                component="com_peliculas"
                section="component" />
    </fieldset>
</config>
